@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background: #97a5a7;
    --gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,72,142,1) 0%, rgba(128,163,245,1) 100%, rgba(0,212,246,1) 100%, rgba(135,144,246,1) 100%, rgba(141,141,246,1) 100%);
}

html, body {
  margin: 0;
    
  width: 100%;
  height: 100%;

  overflow-x: hidden;
  background: var(--background);
}

header {
  position: fixed;
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;

  color: white;
  font-family: "Montserrat", sans-serif;

  background: var(--gradient);
}

header h1 {
  padding: 10px 200px;

  font-size: 2rem;
}

header span {
  color: dodgerblue;
}

header nav {
  padding: 20px 200px;
  list-style: none;
}

header nav li {
  display: inline;

  padding: 0 20px;

  font-size: 1.2rem;
}

header nav li a {
  text-decoration: none;

  color: white;
}

.active-link, header nav li a:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.upper-section {
  margin-top: 0;
  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;

  color: white;
  background: var(--gradient);
}

.upper-section h1 {
  padding-top: 50px;
  font-size: 2.5rem;
}

.upper-section p {
  font-size: 1.3rem;
}

.upper-section button {
  padding: 20px;
  width: 200px;

  font-size: 1.1rem;
  font-weight: 600;

  color: white;
  background: dodgerblue;

  border: 0;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgb(3, 64, 126);

  cursor: pointer;
}

.upper-section button:hover {
  background: rgb(29, 74, 119);
}

.toggle-menu {
  display: none;
}

.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    top:-40px;
    position: relative;
    z-index:1;
    left:0px;
    float:left;
}
  
.parallax1 > use {
    animation: move-forever1 10s linear infinite;
}
  
.parallax2 > use {
    animation: move-forever2 8s linear infinite;
}

.parallax3 > use {
    animation: move-forever3 6s linear infinite;
}

.parallax4 > use {
    animation: move-forever4 4s linear infinite;
}

@keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
}
  
@keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
}

.lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
 

  font-family: "Roboto", sans-serif;

  color: white;
  background: var(--background);
}

.lower-section h1 {
  font-size: 32px;

  margin-bottom: 80px;
}

.cards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 50% 50%;
  grid-template-areas: "image" "info" "button";
  grid-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  transition: .8s;
}

.card:hover {
  transform: scale(1.08);
}

.premium-card {
  margin-top: -30px;
}

.card-info span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info span i {
  padding: 0 5px;
}

.card img {
  width: 100%;
  height: 100%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-info {
  width: 100%;

  text-align: center;

  color: black;
  background: white;
}

.card-button {
  width: 100%;
}

.card-button button {
  width: 100%;

  padding: 20px;

  font-size: 20px;

  background: dodgerblue;
  color: white;

  border: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  cursor: pointer;
}

.card-button button:hover {
  background: rgb(29, 74, 119);
}

header {
  position: absolute;
  z-index: 2;
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  header .logo {
      font-size: 1.5rem;
      padding: 0 2vw;
  }

  .nav-links li a {
      font-size: 1rem;
  }

  .nav-links {
      position: absolute;
      z-index: 1000;
      top: 8vh;
      right: 100vw;
      
      height: 100vh;
      width: 100vw;

      padding: 10px 0;

      display: none;
      flex-direction: column;
      align-items: center;

      transform: translateX(100%);
      transition: transform 0.5s ease-in;

      background: var(--gradient);
  }

  .nav-links li {
      padding: 20px 0;
  }

  .nav-links li a {
      font-size: 2rem;
  }

  .nav-links li:last-child {
      padding-right: 0;
  }

  .toggle-menu {
      display: block;
      margin-top: 20px;
      margin-left: 90px;
  }

  .upper-section h1 {
      text-align: center;
  }

  .upper-section p {
      text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image" "info" "button";
    grid-gap: 10px;
  }

  .premium-card span:last-child i {
    display: none;
  }

  .premium-card {
    margin-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .cards {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(7, 20%);
    grid-template-areas: "image" "info" "button";
    grid-gap: 10px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@media (max-height: 500px) {
  .upper-section h1 {
    font-size: 30px;
    padding-top: 30px;
  }

  .upper-section p {
    font-size: 16px;
    margin-top: -20px;
  }
}