@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background: #97a5a7;
  --gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,72,142,1) 0%, rgba(128,163,245,1) 100%, rgba(0,212,246,1) 100%, rgba(135,144,246,1) 100%, rgba(141,141,246,1) 100%);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 

  background: var(--background)
}

header {
  position: fixed;
  width: 99%;
  height: 100px;

  z-index: 1000;

  display: flex;
  justify-content: space-between;

  color: white;
  font-family: "Montserrat", sans-serif;

  background: var(--gradient);
}

header h1 {
  padding: 10px 200px;

  font-size: 2rem;
}

header span {
  color: dodgerblue;
}

header nav {
  padding: 20px 200px;
  list-style: none;
}

header nav li {
  display: inline;

  padding: 0 20px;

  font-size: 1.2rem;
}

header nav li a {
  text-decoration: none;

  color: white;
}

.active-link, header nav li a:hover{
  padding-bottom: 5px;
  border-bottom: 2px solid white;
}

.upper-section {
  margin-top: 0;
  height: 90vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;

  color: white;
  background: var(--gradient);
}

.upper-section h1 {
  padding-top: 50px;
  font-size: 2.5rem;
}

.upper-section p {
  font-size: 1.3rem;
}

.upper-section button {
  padding: 20px;
  width: 200px;

  font-size: 1.1rem;
  font-weight: 600;

  color: white;
  background: dodgerblue;

  border: 0;
  border-radius: 50px;
  box-shadow: 5px 5px 5px rgb(3, 64, 126);

  cursor: pointer;
}

.upper-section button:hover {
  background: rgb(29, 74, 119);
}

.upper-section button:focus {
  outline: none;
}

.toggle-menu {
  display: none;
}

.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  top:-40px;
  position: relative;
  z-index:1;
  left:0px;
  float:left;
}
  
.parallax1 > use {
  animation: move-forever1 10s linear infinite;
}
  
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
}

.parallax3 > use {
  animation: move-forever3 6s linear infinite;
}

.parallax4 > use {
  animation: move-forever4 4s linear infinite;
}

@keyframes move-forever1 {
  0% {
      transform: translate(85px, 0%);
  }
  100% {
      transform: translate(-90px, 0%);
  }
}
  
@keyframes move-forever2 {
  0% {
      transform: translate(-90px, 0%);
  }
  100% {
      transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
      transform: translate(85px, 0%);
  }
  100% {
      transform: translate(-90px, 0%);
  }
}

@keyframes move-forever4 {
  0% {
      transform: translate(-90px, 0%);
  }
  100% {
      transform: translate(85px, 0%);
  }
}

.lower-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
 

  font-family: "Roboto", sans-serif;

  color: white;
  background: var(--background);
}

.lower-section h1 {
  font-size: 32px;

  margin-bottom: 80px;
}

.cards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: 50% 50%;
  grid-template-areas: "image" "info" "button";
  grid-gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

  transition: .8s;
}

.card:hover {
  transform: scale(1.08);
}

.premium-card {
  margin-top: -30px;
}

.card-info span{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-info span i {
  padding: 0 5px;
}

.card img {
  width: 100%;
  height: 100%;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-info {
  width: 100%;

  text-align: center;

  color: black;
  background: white;
}

.card-button {
  width: 100%;
}

.card-button button {
  width: 100%;

  padding: 20px;

  font-size: 20px;

  background: dodgerblue;
  color: white;

  border: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  cursor: pointer;
}

.card-button button:hover {
  background: rgb(29, 74, 119);
}

.card-button button:focus {
  outline: none;
}

.card-applied button {
  background: rgb(29, 74, 119);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1500;

  left: 0;
  top: 0;

  overflow: auto;

  width: 100%;
  height: 100%;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  width: 50%;

  margin: 9% auto;
  padding: 10px 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;

  border-radius: 20px;

  background: white;

  animation: opacityin .5s alternate;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.modal-about {
  display: flex;
  flex-direction: column;

  padding: 20px 0;
}

.modal-about h2 {
  font-size: 20px;
}

.modal-about p {
  margin-top: -10px;
}

.modal-content div {
  font-size: 32px;
  
  cursor: pointer;

  transition: .5s;
}

.modal-content div:hover {
  color: dodgerblue;

  transform: scale(1.5);
}

.modal-apply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-apply h2 {
  font-size: 20px;
}

.modal-apply span {
  display: flex;
  align-items: center;

  margin-top: -20px;
}

.modal-apply span i {
  padding: 0 10px;
}

.modal-apply button {
  width: 200px;
  padding: 20px;
  margin-left: 10px;

  font-size: 16px;
  font-weight: 600;

  border: 0;
  border-radius: 15px;

  color: white;
  background: dodgerblue;

  cursor: pointer;
}

.modal-apply button:hover {
  background: rgb(29, 74, 119);
}

.modal-applied button {
  background: rgb(29, 74, 119);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1500;

  left: 0;
  top: 0;

  overflow: auto;

  width: 100%;
  height: 100%;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
  width: 30%;
  height: 200px;

  margin: 15% auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;

  border-radius: 5px;

  background: white;

  animation: opacityin .5s alternate;
}

.popup-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-info div {
  align-self: flex-end;

  font-size: 32px;

  margin: 10px;

  transition: .5s;

  cursor: pointer;
}

.popup-info div:hover {
  color: dodgerblue;

  transform: scale(1.5);
}

.popup-info p {
  padding: 0 20px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.popup-content button {
  width: 100%;
  height: 100%;

  padding: 20px;

  font-size: 20px;
  font-weight: 500;

  color: white;

  border: 0;

  cursor: pointer;
}

.popup-content button:first-child {
  background: rgb(230, 127, 127);

  border-bottom-left-radius: 5px;
}

.popup-content button:first-child:hover {
  background: rgb(168, 78, 78);
}

.popup-content button:last-child {
  background: dodgerblue;

  border-bottom-right-radius: 5px;
}

.popup-content button:last-child:hover {
  background: rgb(29, 74, 119);
}

@keyframes opacityin {
  from {opacity: 0}
  to {opacity: 1}
}

@media (max-width: 1200px) {
  header {
    width: 100%;
    height: 60px;
  }

  header .logo {
    font-size: 1.5rem;
    padding: 0 2vw;
  }

  .nav-links li a {
    font-size: 1rem;
  }

  .nav-links {
    position: absolute;
    z-index: 1000;
    top: 8vh;
    right: 100vw;
      
    height: 100vh;
    width: 100vw;

    padding: 10px 0;

    display: none;
    flex-direction: column;
    align-items: center;

    transform: translateX(100%);
    transition: transform 0.5s ease-in;

    background: var(--gradient);
  }

  .nav-links li {
    padding: 20px 0;
  }

  .nav-links li a {
    font-size: 2rem;
  }

  .nav-links li:last-child {
    padding-right: 0;
  }

  .toggle-menu {
    position: absolute;
    display: block;
    margin-top: 20px;
    right: 10px;
  }

  .upper-section h1 {
    text-align: center;
  }

  .upper-section p {
    text-align: center;
  }

  .cards {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image" "info" "button";
    grid-gap: 10px;
  }

  .premium-card {
    margin-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .cards {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: repeat(7, 20%);
    grid-template-areas: "image" "info" "button";
    grid-gap: 10px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@media (max-height: 500px) {
  .upper-section h1 {
    font-size: 30px;
    padding-top: 30px;
  }

  .upper-section p {
    font-size: 16px;
    margin-top: -20px;
  }
}